@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  main .hero {
    min-width: 90vw;
    max-height: 200px;
    border-radius: none;
  }

  .cont-aside {
    width: 80%;
  }
  .cont-aside .aside {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background-image: url(../assets/background/leaves.png);
}

.logo-h {
  max-height: 50px;
}

main {
  padding: 0 2vw;
  display: flex;
  justify-content: center;
}
main h2 {
  font-size: 3vw;
}
main .hero {
  height: 80vh;
  width: 60vw;
  margin: 1vw 0 2vw 0;
  border: 1px solid #b8b7b7;
  border-radius: 50px;
  background-image: url(../assets/img/img-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-box-shadow: 5px 5px 7px -4px #918e91;
  -moz-box-shadow: 5px 5px 7px -4px #918e91;
  box-shadow: 5px 5px 7px -4px #918e91;
}

.text-recuadro {
  background: #1b1b1b9a;
  color: white;
  text-align: center;
  padding: 3vw;
  border-radius: 0 0 50px 50px;
}

.cicle-to-buy {
  background-color: #D10607;
  padding: 5% 100px 5% 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cicle-to-buy div {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cicle-to-buy div img {
  max-height: 800px;
}
.cicle-to-buy div p {
  margin-top: 25%;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* articles */
.artmaster {
  margin: 2vw 2vw;
  width: 60vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 7px -4px #918e91;
  -moz-box-shadow: 5px 5px 7px -4px #918e91;
  box-shadow: 5px 5px 7px -4px #918e91;
  font-size: 2.5vw;
}

.article-cont-1 {
  background-image: url(../assets/img/article1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-cont-2 {
  background-image: url(../assets/img/article2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* asides */
.aside {
  border: 1px solid #b8b7b7;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 7px -4px #918e91;
  -moz-box-shadow: 5px 5px 7px -4px #918e91;
  box-shadow: 5px 5px 7px -4px #918e91;
  font-size: 2vw;
  min-width: 200px;
}

.aside-img-1 {
  margin: 2vw;
  height: 15vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 50px;
  background-image: url(../assets/img/img-aset.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.cont-articles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.aside-img-2 {
  margin: 2vw;
  width: 30vw;
  height: 47.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 50px;
  background-image: url(../assets/img/img-aside.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.article-cont-1:hover, .article-cont-2:hover, .aside-img-1:hover, .aside-img-2:hover {
  transition: 0.6s;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.imgproyecto1, .imgproyecto2 {
  overflow: hidden;
}

/* galeria de pokemons */
.section-galery h3 {
  background-color: black;
  padding: 2vw;
  color: white;
  font-size: 3vw;
}

.cont-target {
  margin: 1vw;
  width: 95%;
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .cont-target {
    display: block;
  }
}
.cont-target .cont-target-pkm {
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px -4px #918e91;
  -moz-box-shadow: 5px 5px 7px -4px #918e91;
  box-shadow: 5px 5px 7px -4px #918e91;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}
.cont-target .target-pkm {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  display: flex;
}
.cont-target .target-pkm img {
  width: 90%;
}

.precio {
  text-align: end;
  font-size: 2vw;
}

.cont-number {
  text-align: center;
  margin-top: 1vw;
}

.cont-name-type {
  margin-left: 2vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cont-name-type h4 {
  font-size: 2vw;
}

.pkm-type {
  width: 5vw;
  border-radius: 5px;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(0deg, #a09609 50%, yellow 50%);
}
.pkm-type p {
  font-size: 1.5vw;
  z-index: 100;
  color: white;
}

.pkm1 {
  grid-row: 1/2;
}

.pkm2 {
  grid-column: 2/3;
}

.cont-gen {
  margin-top: 1vw;
  width: 5vw;
  border-radius: 5px;
  height: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #242424;
}
.cont-gen p {
  color: white;
  font-size: 1.3vw;
  text-align: center;
}

.pkm-type {
  margin-top: 2vw;
}

.target-next {
  background-color: white;
  height: 70%;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px -4px #918e91;
  -moz-box-shadow: 5px 5px 7px -4px #918e91;
  box-shadow: 5px 5px 7px -4px #918e91;
  display: flex;
  align-items: center;
  justify-content: center;
}
.target-next img {
  height: 100px;
}

.precio {
  width: 100%;
}

/* post targets */
.your-team {
  background-color: #491885;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-team h3 {
  color: white;
  text-align: center;
  font-size: 4vw;
}

.cont-buy {
  width: 20%;
  text-align: center;
  background-color: white;
  margin: 2vw;
  border-radius: 20px;
  padding: 1.2vw;
}

.buy-butom {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-size: 2.5vw;
}

.list-to-buy {
  width: 100%;
  background-color: white;
  border-radius: 40px;
  padding: 2.5vw;
}

.poke-list {
  border-bottom: 2px solid black;
  padding: 2vw;
}

.poke-list ul li {
  list-style: none;
  margin: 1vw;
}

.poke-list ul div {
  display: flex;
  align-items: center;
}

.poke-list ul div img {
  width: 4vw;
  border: 2px solid grey;
  border-radius: 10px;
}

.result {
  list-style: none;
  text-align: end;
  font-size: 2vw;
  padding: 0 2.5vw 0 0;
}

footer {
  background-color: #292C31;
  width: 100%;
  height: 20vw;
}

.icon-twitter-squared {
  color: white;
  font-size: 5vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar .container {
  width: 98%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
.navbar .container {
    display: block;
  }
}

.navbar {
  margin: 1vw;
  border-bottom: 3px solid #124b17;
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  background-color: #25992f;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: white;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #ffffff;
}
.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: white;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #EEE;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: white;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #ffffff;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: white;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

/*# sourceMappingURL=style.css.map */
