* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* img {
  width: 100%;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  background-image: url(../assets/background/leaves.png);
}

main {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.shadow {
  -webkit-box-shadow: 5px 5px 7px -4px #918e91;
  -moz-box-shadow: 5px 5px 7px -4px #918e91;
  box-shadow: 5px 5px 7px -4px #918e91;
}

header {
  background-color: #1B1717;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #1B1717;
}
.navigation a {
  color: #EEEBDD;
  text-transform: uppercase;
  font-weight: bold;
}

.go-home {
  position: fixed;
  height: auto;
  bottom: 4px;
  right: 4px;
  z-index: 100;
  border-radius: 50%;
  border: 4px solid white;
}
.go-home a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}
main div {
  background-image: url(../assets/img/img-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 1px solid #b8b7b7;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
main div h1 {
  color: white;
  background-color: #1b1b1b9a;
  border-radius: 0 0 50px 50px;
}

.cicle-to-buy {
  background-color: #CE1212;
}
.cicle-to-buy ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cicle-to-buy ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EEEBDD;
  font-weight: bold;
}

.contenedors {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 1px solid #b8b7b7;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.posts article {
  display: flex;
}

h2 {
  background-color: #1B1717;
  color: #EEEBDD;
  text-transform: uppercase;
}

.electric {
  color: #EEEBDD;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 1.5rem;
  border-radius: 5px;
  background: linear-gradient(0deg, #a09609 50%, yellow 50%);
}

.aqua {
  background: linear-gradient(0deg, #0957a0 50%, #00f7ff 50%);
}

.fire {
  background: linear-gradient(0deg, #a00909 50%, #ff2600 50%);
}

.plant {
  background: linear-gradient(0deg, #0e6603 50%, #048f04 50%);
}

.bug {
  background: linear-gradient(0deg, #2bac76 50%, #064238 50%);
}

.poison {
  background: linear-gradient(0deg, #710ccf 50%, #7c0647 50%);
}

.dragon {
  background: linear-gradient(0deg, #0ccfc5 50%, #00547a 50%);
}

.rock {
  background: linear-gradient(0deg, saddlebrown 50%, sienna 50%);
}

.cont-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.cont-buttom .buy-buttom {
  height: 2rem;
  width: 5rem;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  color: #1B1717;
  border: 0px solid white;
  cursor: pointer;
}

.icon {
  color: #EEEBDD;
}

/*Animations*/
.posts article div:hover, .posts aside div:hover,
.best-sellers article div:hover {
  transition: 0.6s;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.imgproyecto1, .imgproyecto2 {
  overflow: hidden;
}

/*Mobile*/
@media (min-width: 320px) {
  header {
    padding: 0.2rem;
  }
  header a {
    color: #EEEBDD;
    text-transform: uppercase;
  }
  header div {
    display: flex;
    justify-content: center;
  }
  header div img {
    margin: 0.2rem;
    width: 50%;
  }

  .navigation ul {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  .navigation a {
    padding: 0.5rem;
  }
  .navigation a:hover {
    border-bottom: 8px solid #810000;
    color: #810000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
  }
  .navigation .login {
    background-color: white;
    border-radius: 2rem;
    color: #1B1717;
    border: 3px solid #810000;
  }
  .navigation .login:hover {
    background-color: #1B1717;
    color: #EEEBDD;
    transition: 0.4s;
  }

  .go-home {
    width: 15%;
  }

  main div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: 15rem;
  }
  main div h1 {
    padding: 0.2rem;
    font-size: 1.2rem;
  }

  .cicle-to-buy {
    padding: 3rem;
  }
  .cicle-to-buy ul {
    flex-direction: column;
  }
  .cicle-to-buy ul li img {
    margin-top: 10px;
    height: 120px;
    width: auto;
  }
  .cicle-to-buy ul li p {
    margin: 10px;
    text-align: center;
    width: 60%;
  }

  .posts {
    display: flex;
    flex-direction: column;
  }
  .posts h3 {
    color: #EEEBDD;
  }
  .posts article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .posts article div {
    margin-top: 10px;
  }
  .posts article div:first-child {
    width: 95%;
    height: 17rem;
    background-image: url(../assets/img/article1.png);
  }
  .posts article div:last-child {
    width: 95%;
    height: 17rem;
    background-image: url(../assets/img/article2.jpg);
  }
  .posts article h3 {
    padding: 1.5rem;
    background-color: #1b1b1b9a;
    border-radius: 0 0 50px 50px;
  }
  .posts aside {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .posts aside div {
    margin-top: 10px;
  }
  .posts aside div:first-child {
    width: 95%;
    height: 24rem;
    background-color: white;
    background-image: url(../assets/img/img-aside1.png);
  }
  .posts aside div:last-child {
    width: 95%;
    height: 24rem;
    background-image: url(../assets/img/img-aside2.jpg);
  }
  .posts aside h3 {
    padding: 1.5rem;
    background-color: #1b1b1b9a;
    border-radius: 0 0 50px 50px;
  }

  h2 {
    margin-top: 10px;
    padding: 1rem;
  }

  .targets {
    position: relative;
    height: 18.5rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    background-color: white;
  }
  .targets div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .targets img {
    width: auto;
    max-height: 14rem;
    max-width: 100%;
  }
  .targets ul {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .targets ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .targets ul li h4 {
    font-size: 140%;
  }
  .targets ul .gen {
    background-color: #1B1717;
    color: white;
    border-radius: 5px;
    width: 4rem;
  }
  .targets ul .number {
    font-weight: bold;
  }
  .targets ul li:first-child {
    margin-bottom: 20px;
  }
  .targets ul li:last-child {
    font-size: 1.5rem;
    font-weight: bold;
  }

  hr {
    margin-top: 2rem;
  }

  .your-team {
    background-color: #810000;
    padding: 1rem;
  }
  .your-team .cont-team {
    background-color: white;
    border-radius: 1rem;
  }
  .your-team .cont-team img {
    width: 50px;
  }
  .your-team .cont-team ul {
    padding: 1rem;
  }
  .your-team .cont-team ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .your-team .cont-team ul li p:last-child {
    font-weight: bold;
  }
  .your-team .cont-team ul .final-price {
    justify-content: flex-end;
    font-size: 1.5rem;
  }
  .your-team .cont-team ul .border-buttom {
    border-bottom: 2px solid #1B1717;
  }
  .your-team h5 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .contact-us h2 {
    margin-top: 0;
  }

  .contact-us {
    background-color: #810000;
  }
  .contact-us div {
    padding: 5px;
  }
  .contact-us ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-us ul li {
    margin-top: 5px;
  }
  .contact-us ul p {
    color: #EEEBDD;
  }
  .contact-us ul input {
    border-radius: 0.3rem;
    border: none;
    text-indent: 10px;
  }
  .contact-us ul .normal-input {
    width: 15rem;
    height: 1.3rem;
  }
  .contact-us ul .message {
    width: 15rem;
    height: 7rem;
  }
  .contact-us .send-buttom {
    margin-bottom: 10px;
  }

  .foot-cont {
    background-color: #1B1717;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .foot-cont ul {
    padding: 10px;
  }
  .foot-cont ul li {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .foot-cont p {
    color: #EEEBDD;
  }

  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #810000;
  }
  .login-page p, .login-page a {
    color: white;
    text-align: center;
  }
  .login-page section a:hover {
    color: #1B1717;
  }
  .login-page section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-page section ul li:first-child {
    width: 20em;
  }
  .login-page section ul h5 {
    background-color: #1B1717;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    color: white;
  }
  .login-page input {
    border-radius: 0.3rem;
    border: none;
    text-indent: 10px;
  }
  .login-page .normal-input {
    width: 15rem;
    height: 1.3rem;
  }
  .login-page .register ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-page .register ul li {
    margin-top: 0.5rem;
  }
  .login-page .register ul .buy-buttom {
    font-size: 0.6rem;
  }
  .login-page .register .confirm-email {
    font-size: 0.8rem;
  }
  .login-page .login ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-page .login ul li {
    margin-top: 0.5rem;
  }
  .login-page .login div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .login-page .login div a:first-child {
    border-right: 1px solid #1B1717;
  }

  .buy-buttom:hover {
    background-color: #1B1717;
    color: #EEEBDD;
    border: 2px solid white;
  }

  .cmaster-poke-app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cmaster-poke-app .expain-poke-app article div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  .cmaster-poke-app .expain-poke-app article div p {
    text-align: center;
    width: 80%;
    font-size: 1rem;
  }
  .cmaster-poke-app .poke-app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cmaster-poke-app .poke-app .poke-app-conteiner {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #CE1212;
    border-radius: 2rem;
  }
  .cmaster-poke-app .poke-app .poke-app-conteiner p {
    color: white;
    font-size: 2rem;
  }
  .cmaster-poke-app .poke-app .poke-app-conteiner img {
    background-color: #EEEBDD;
    border-radius: 2rem;
    margin-top: 2rem;
    width: 80%;
  }
  .cmaster-poke-app .poke-app .poke-app-conteiner .buy-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 8rem;
    padding: 2rem;
    margin-bottom: 2rem;
  }
}
/*Tablet*/
@media (min-width: 768px) {
  header {
    padding: 0.5rem;
  }
  header div {
    display: flex;
    justify-content: center;
  }
  header div img {
    margin: 0.2rem;
    width: 50%;
  }

  .navigation a {
    font-size: 1.6rem;
  }

  .go-home {
    width: 10%;
  }

  main div {
    margin-top: 10px;
    width: 90%;
    height: 40rem;
  }
  main div h1 {
    padding: 1rem;
    font-size: 3rem;
  }

  .cicle-to-buy ul {
    flex-direction: row;
  }

  .posts {
    flex-direction: row;
    width: 100%;
  }
  .posts article {
    width: 170%;
  }
  .posts article div:first-child {
    width: 95%;
    height: 20rem;
  }
  .posts article div:last-child {
    width: 95%;
    height: 20rem;
  }
  .posts aside {
    width: 80%;
  }
  .posts aside div:first-child {
    width: 90%;
    height: 18rem;
  }
  .posts aside div:last-child {
    width: 90%;
    height: 22rem;
  }

  .best-sellers article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .targets {
    height: 18rem;
    padding: 1rem;
    margin: 1rem;
    width: 18rem;
  }
  .targets div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .targets img {
    width: auto;
    max-height: 14rem;
    max-width: 100%;
  }
  .targets ul {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .targets ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .targets ul li h4 {
    font-size: 1.1rem;
  }
  .targets ul .tb {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 1.5rem;
    border-radius: 5px;
  }

  .your-team h5 {
    font-size: 2rem;
  }

  .cont-team {
    margin: 0 10rem;
    padding: 1rem 0;
  }

  .cont-buttom .bbtn {
    width: 20%;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-us {
    background-color: #810000;
  }
  .contact-us div {
    padding: 5px;
  }
  .contact-us ul li {
    margin-top: 5px;
    font-size: 1.5rem;
  }
  .contact-us ul .normal-input {
    width: 20rem;
    height: 2rem;
  }
  .contact-us ul .message {
    width: 20rem;
    height: 10rem;
  }
  .contact-us .send-buttom {
    margin-bottom: 10px;
  }

  .foot-cont ul {
    padding: 10px;
  }
  .foot-cont ul li {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1.5rem;
  }
  .foot-cont p {
    color: #EEEBDD;
  }

  .login-page {
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #810000;
  }
  .login-page section a:hover {
    color: #1B1717;
  }
  .login-page section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-page section ul li:first-child {
    width: 20em;
  }
  .login-page section ul h5 {
    background-color: #1B1717;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    color: white;
  }
  .login-page input {
    border-radius: 0.3rem;
    border: none;
    text-indent: 10px;
  }
  .login-page .normal-input {
    width: 15rem;
    height: 1.3rem;
  }
  .login-page .register ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-page .register ul li {
    margin-top: 0.5rem;
  }
  .login-page .register ul .buy-buttom {
    font-size: 0.6rem;
  }
  .login-page .register .confirm-email {
    font-size: 0.8rem;
  }
  .login-page .login ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-page .login ul li {
    margin-top: 0.5rem;
  }
  .login-page .login div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .login-page .login div a:first-child {
    border-right: 1px solid #1B1717;
  }

  .buy-buttom:hover {
    background-color: #1B1717;
    color: #EEEBDD;
    border: 2px solid white;
  }
}
/*Desktop*/
@media (min-width: 1200px) {
  header {
    padding: 1rem;
  }
  header div img {
    width: 20%;
  }

  .navigation ul {
    display: flex;
    justify-content: space-around;
  }

  .go-home {
    width: 7%;
  }

  h2 {
    text-indent: 6rem;
  }

  main div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
    height: 80vh;
  }
  main div h1 {
    padding: 2rem;
    font-size: 2.5rem;
  }

  .cicle-to-buy {
    padding: 6rem;
  }
  .cicle-to-buy ul li img {
    margin-top: 10px;
    height: 12rem;
    width: auto;
  }
  .cicle-to-buy ul li p {
    margin: 30px;
    text-align: center;
    width: 60%;
    font-size: 1.7rem;
  }

  .posts {
    flex-direction: row;
    margin: 1rem 0;
  }
  .posts article {
    width: 170%;
  }
  .posts article div:first-child {
    width: 95%;
    height: 45rem;
  }
  .posts article div:last-child {
    width: 95%;
    height: 35rem;
  }
  .posts aside {
    width: 80%;
  }
  .posts aside div:first-child {
    width: 90%;
    height: 35rem;
  }
  .posts aside div:last-child {
    width: 90%;
    height: 45rem;
  }

  .your-team .cont-team img {
    width: 80px;
  }
  .your-team .cont-team ul {
    padding: 1rem;
  }
  .your-team .cont-team ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .your-team .cont-team ul li p:last-child {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .your-team .cont-team ul .border-buttom {
    border-bottom: 2px solid #1B1717;
  }
  .your-team .final-price p {
    font-size: 4rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    border-radius: 10px;
    background-color: #1B1717;
  }

  .resize {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
  }
  .resize .post {
    width: 60%;
  }
  .resize .post article {
    max-width: 100%;
  }
  .resize .post aside {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
