@media only screen and (max-width: 600px) {
    main{
        width: 100%;
        .hero{
            min-width: 90vw;
            max-height: 200px;
            border-radius: none;
        }
    }
    .cont-aside{
        width: 80%;
        .aside {
                width: 100%;
            }
    }
}